.wrapper{
    margin: 0 auto;
    width: 600px;
}
/* .register{
    width:25%;
    min-height: 100px;
    margin: 0 auto;
}
.details{
    width:25%;
    min-height: 100px;
    margin: 0 auto;
} */
label, input{
    width:100%;
    width: 98%;
    margin: 3px 0;
}
button{
    margin-top:5px;
}
.right {
    float: right;
}
.left{
    float: left;
}
ul{
    padding:0;
}
ul li{
    list-style: none;
}
.red{
    color:red;
}
.upbutton{
    margin-top:-22px
}
.footer{
    text-align: center;
    padding: 20px 0;
}

/* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {...}*/

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...}*/

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
    .register{
        width:100%;
        padding: 0px;
    }
    label, input{
        width: 98%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...}*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...}*/